@import url('../css/null.css');
@import '_responsive';



// Specification

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a,span {
    display: block;
}

img {
    max-width: 100%;
    display: block;
}

h1,h2,h3,h4,h5,h6{color: #343434; line-height: 1.3em;}

h2 {
    font-size: 53px;
}
h3 {
    font-size: 45px;
}
span {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
p {
    font-size: 18px;
    line-height: 1.4em;
}

.btn {
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 300px;
}

.get_btn {
    width: 211px;
    background-color: #000;
    color: #fff;
    padding: 3px 0;
}

.container {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
}

#scroller{
    position: fixed;    
    z-index: 1000;
    bottom: 5%;
    right: 3%; 
    border-radius: 50%;
    border: 2px solid #624CE0;
    background: url('../img/arrow_top.svg')no-repeat center;  
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: none;
    transition: background,margin .5s ease;
        &:hover {
            margin-bottom: 10px;
            background: url('../img/arrow_top_hover.svg')no-repeat center, #624CE0;
        }
        &.d-none {
            display: none !important;
        }
}

// Preloader 

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1001;
  }
  .preloader__image {
      position: relative;
      top: 50%;
      left: 50%;
      width: 64px;
      height: 64px;
      margin-top: -32px;
      margin-left: -32px;
      background: url('../img/preloader.gif') no-repeat 50% 50%; /*расположение (url) изображения gif и др. параметры*/
  }
  
  .loaded_hiding .preloader {
      transition: 0.3s opacity;
      opacity: 0;
  }
  .loaded .preloader {
      display: none;
  }

// Hambutger


.hamburger-btn {
    display: none;
    width: 30px;
    height: 20px;
    background: transparent;
    position: relative;
    z-index: 700;
    transition: .5s ease-in-out;
    margin-right: 30px;
  }
  
  .hamburger-btn span:not(:last-child) {
    margin-bottom: 4px;
  }
  
  .hamburger-btn span {
    width: 100%;
    height: 3px;
    border-radius: 9px;
    background: #000;
    position: absolute;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
  }
  
  .hamburger-btn span:nth-child(1) {
    top: 0px;
  }
  
  .hamburger-btn span:nth-child(2), .hamburger-btn span:nth-child(3) {
    top: 8px;
  }
  
  .hamburger-btn span:nth-child(4) {
    top: 17px;
  }
  
  .hamburger-btn.open span {
    background: #fff;
  }
  
  .hamburger-btn.open {
    position: fixed;
  }
  
  .hamburger-btn.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  .hamburger-btn.open span:nth-child(2) {
    
    transform: rotate(45deg);
  }
  
  .hamburger-btn.open span:nth-child(3) {
    
    transform: rotate(-45deg);
  }
  
  .hamburger-btn.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

// Hero Section

.header {
    background: url('../img/main-background.svg') no-repeat center top;
    padding: 20px 0 150px;
}

.head-wrapper {
    display: flex;
    align-items: center;
}

.menu {
    margin-left: 40px;
}

.menu-list {
    display: flex;
    width: 425px;
    justify-content: space-between;
}

.menu-list__item a{
    font-size: 16px;
    color: #090909;
    position: relative;
    transition: all .3s ease;
        &:hover {
            color: #8979E8;
        }
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #8979E8;
            top: 100%;
            left: 0;
            pointer-events: none;
            top: 105%;
            transform-origin: 0% 50%;
            transform: scale3d(0, 1, 1);
            transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
        }
        &:hover::after {
            transform-origin: 100% 50%;
            transform: scale3d(1, 2, 1);
            transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
        }

}


.header_btn {
    padding: 14px 0;
    max-width: 154px;
    font-size: 14px;
    margin-left: auto;
    transition: box-shadow .5s ease;
        &:hover {
            box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.25);
        }
}

.main-screen {
    padding-top: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.offer {
    max-width: 485px;
}

.offer__intro {
    color: #595959;
}

.offer__title {
    font-size: 54px;
    margin: 14px 0 12px;
}

.offer__txt {
    margin-bottom: 41px;
}

.demos {
    display: flex;
}

.demos a {
    max-width: 189px;
}

.demos__admin {
    background: #8979E8;
    color: #fff;
}

.demos__shop {
    border: 1px solid #8979E8;
    color: #8979E8;
    margin-left: 12px;
    transition: all .5s ease;
        &:hover {
            background: #8979E8;
            color: #fff;
        }
}

.hero-images{
    width: 100%;
    position: relative;
    height: 439px;
}

.hero-images img {
    position: absolute;
}

.hero-images__woman {
    left: 43% !important;
    z-index: 10;
    bottom: 22% !important;
}

.hero-images__cart {
    left: 67% !important;
    top: 65% !important;
    z-index: 15;
}

.hero-images__product {
    left: 83.1% !important;
    bottom: 45% !important;
}

.hero-images__banner {
    left: 21% !important;
    top: 25% !important;
    box-shadow: 0px 10px 75px rgba(0, 0, 0, 0.14);
}

.partners {
    display: flex;
    justify-content: space-between;
    margin: 64px auto 0 auto;
    max-width: 866px;
}

.partners__item {
    height: 56px;
    transition: all .5s ease;
        &:hover {
            transform: scale(1.1);
        }
}

.partners__item_stripe {
    width: 88px;
    background: url('../img/stripe-logo.svg') no-repeat center;
        &:hover {
            background: url('../img/stripe-logo_active.svg') no-repeat center;
        }
}
.partners__item_paypal {
    width: 112px;
    background: url('../img/paypal-logo.svg') no-repeat center;
        &:hover {
            background: url('../img/paypal-logo_active.svg') no-repeat center;
        }
}
.partners__item_envato {
    width: 144px;
    background: url('../img/envato-logo.svg') no-repeat center;
        &:hover {
            background: url('../img/envato-logo_active.svg') no-repeat center;
        }
}
.partners__item_instagram {
    width: 120px;
    background: url('../img/instagram-logo.svg') no-repeat center;
        &:hover {
            background: url('../img/instagram-logo_active.svg') no-repeat center;
        }
}
.partners__item_whatsapp {
    width: 152px;
    background: url('../img/whats_up-logo.svg') no-repeat center;
        &:hover {
            background: url('../img/whats_up-logo_active.svg') no-repeat center;
        }
}

// Section App

.app {
    padding: 83px 0 35px;
    background: url('../img/line-background.svg')no-repeat right bottom, #F3F1FC;
}

.app-heading {
    width: 100%;
    max-width: 638px;
    margin: 0 auto;
    text-align: center;
        & h2 {
            margin: 12px 0 12px;
            line-height: 1.2em;
        }
}

.intro-text {
    color: #624CE0;
}

.app-screen-image {
    margin-top: 24px;
        & img {
            margin: 0 auto;
        }
}

// Section Advantages

.advantages {
    padding: 98px 0 119px;
}

.advantages-wrapper {
    display: flex;
    justify-content: space-between;
}

.section-title {
    position: relative;
    max-width: 402px;
        & h3 {
            margin: 17px 0 10px;
        }
}

.advantages-full-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.advantages-list__block {
    position: relative;
    max-width: 416px;
        &::before {
            content: '';
            display: block;
            width: 48px;
            height: 48px;
        }
        &:not(:last-child){
            margin-bottom: 46px;
        }
}

.advantages-list__block_payment::before {
    background: url('../img/diamong-icon.svg')no-repeat center;
}
.advantages-list__block_custom::before {
    background: url('../img/setting-icon.svg')no-repeat center;
}
.advantages-list__block_mobile::before {
    background: url('../img/phone-icon.svg')no-repeat center;
}
.advantages-list__block_updates::before {
    background: url('../img/clock-icon.svg')no-repeat center;
}
.advantages-list__block_hosted::before {
    background: url('../img/coins-icon.svg')no-repeat center;
}
.advantages-list__block_installation::before {
    background: url('../img/wrench-icon.svg')no-repeat center;
}

.advantages-list__title {
    font-size: 17px;
    margin: 24px 0;
}

.advantages-list__text {
    font-size: 16px;
}

// Section Get App

.get-app {
    padding-top: 178px;
    position: relative;
}

.get-app-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title a {
    margin-top: 34px;
    padding: 2px;
}

.get-app-images {
    position: relative;
}

.get-app-images__instagram {
    position: absolute;
    top: 18% !important;
    right: 51%;
    animation: right 2s linear infinite alternate;
}

.get-app-images__users {
    position: absolute;
    top: 49%;
    left: 68%;
    animation: top 2s linear infinite alternate;
}

@keyframes right {
    0% {
        right: 51%;
    }
    100% {
        right: 46%;
    }
}

@keyframes top {
    0% {
        top: 49%;
    }
    100% {
        top: 45%;
    }
}

// Section Get Sell

.get-sell {
    padding-top: 18px;
    padding-bottom: 358px;
}

.get-app-images, .get-sell-images{
    position: relative;
}

.get-app-images__socks {
    position: absolute;
    z-index: 10;
    left: 13%;
    top: 26%;
}

.get-app-images__cards {
    position: relative;
    transform: translate(-7%, 65%);
    z-index: 5;
}

.get-app-images__bg {
    position: absolute;
    right: -4%;
    top: -13%;
}

.section-title_sell {
    margin-top: 150px;
}


// Section Review

.section {
    padding: 76px 0 140px;
}

.reviews {
    background: #F7F3EB;
}

.heading {
    text-align: center;
    margin-bottom: 48px;
        h2 {
            margin-bottom: 10px;
        }
}


.slider-reviews {
    max-width: 848px;
    margin: 0 auto;
    position: relative;
        & .slick-arrow {
            position: absolute;
            top: 50%;
            font-size: 0;
            height: 42px;
            width: 42px;
            border-radius: 50%;
            border: 1px solid rgba(9, 9, 9, 0.4);
            z-index: 10;
                &.slick-prev {
                    left: -7%;
                    background: url('../img/arrow-prev.svg') no-repeat center;
                }
                &.slick-next {
                    right: -7%;
                    background: url('../img/arrow-next.svg') no-repeat center;
                }
        }
        
}

.slider-reviews__item {
    background: #fff;
    text-align: center;
    padding: 80px 40px;
}

.slider-reviews__text {
    text-align: center;
    max-width: 671px;
    font-size: 24px;
    margin: 0 auto;
}
.author {
    margin-top: 31px;
}

.slick-track {
    display: flex;
    justify-content: space-between;
}

.slick-list {
    overflow: hidden;
}

.slider-wrapper {
    position: relative;
}

.authors-avatars {
    display: flex;
    position: absolute;
    left: 44%;
    bottom: -11%;
        & img:not(:last-child) {
            margin-right: 8px;
        }
        & img {
            border: 4px solid #fff;
                &.active {
                    border: 4px solid #8979E8;
                }
        }
}

// Section Pricing

.pricing-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.07);
    max-width: 1102px;
    margin: 0 auto;
    padding: 27px 0;
}

.pricing-blocks__item {
    background: #fff;
    padding: 17px 45px 45px 45px;
    border-radius: 5px;
    max-width: 367px;
        &_center {
            border-left: 1px solid rgba(0, 0, 0, 0.07);
            border-right: 1px solid rgba(0, 0, 0, 0.07);
        }
}

.pricing-blocks__title {
    font-size: 21px;
}

.pricing-blocks__desc {
    font-size: 14px;
    margin: 18px 0 20px;
}

.pricing-data {
    display: flex;
    align-items: center;
}

.pricing__value {
    margin-right: 7px;
    font-size: 23px;
    text-transform: none;
}

.pricing__period {
    font-size: 12px;
    color: #8F8F8F;
    text-transform: lowercase;
}

.pricing-btn {
    background: #8979E8;
    color: #fff;
    padding: 15px 0;
    margin: 19px 0 35px;
    transition: box-shadow .5s ease;
        &:hover {
            box-shadow: 0px 2px 4px 2px rgba(137, 121, 232, 0.45);
        }
}

.conditions {
    transform: translateX(10%);
}

.conditions__item:not(:last-child) {
    margin-bottom: 15px;
}

// Section Start

.start {
    background: #F6F6F6;
}

.start-order {
    display: flex;
    justify-content: space-between;
}

.start-order__item {
    background: #fff;
    padding: 46px 34px 27px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 303px;
}

.start-order__caption {
    margin: 10px 0 23px;
    font-size: 18px;
    text-transform: none;
}

.start-order__desc {
    font-size: 14px;
}

// Section Blog

.slider-posts {
    position: relative;
}

.post {
    max-width: 423px;
}

.post__img {
    width: 423px;
    height: 240px;
    overflow: hidden;
        & img {
            width: 100%;
            object-fit: cover;
        }
}

.post-content {
    margin-top: 21px;
}

.post__txt {
    font-size: 17px;
        &:not(:last-of-type){
            margin-bottom: 10px;
        }
}

.post__date {
    display: flex;
    margin-top: 15px;
}

.number {
    font-size: 14px;
    color: #A2A2A2;
        &::after {
            content: '/';
            color: #A2A2A2;
            margin-left: 3px;
            margin-right: 7px;
            font-size: 14px;
        }
}

.read_more {
    font-size: 14px;
    color: #000;
}

.slick-dots {
    display: flex;
    margin-top: 49px;
    position: absolute;
    bottom: -49px;
    left: 48%;
        & li:not(:last-child) {
            margin-right: 14px;
        }
        & button {
            font-size: 0;
            width: 12px;
            height: 12px;
            background: #C6CECB;
            border-radius: 50%;
                
        }
        & .slick-active button {
            background: #869791;
        }  
}

// Section Suppport

.support {
    padding: 58px 0 97px;
    text-align: center;
    background: #F3F1FC;
}

.support-title {
    margin-bottom: 60px;
}

.support-block {
    max-width: 583px;
    margin: 0 auto;
}

.intro {
    font-size: 14px;
    margin: 5px 0 23px;
}

.contact_btn {
    background: #8979E8;
    margin: 0 auto;
    max-width: 174px;
}

// Footer

.footer {
    padding: 29px 0 24px;
    background: #000;
}

.footer-head {
    padding-bottom: 30px;
    border-bottom: 1px solid #282829;
        & .menu {
            margin-left: 0;
        }
        & .menu-list__item a{
            color: #fff;
            transition: color .5s ease;
                &:hover {
                    color: #8979E8;
                }
        }
}

.footer-links {
    display: flex;
    padding: 35px 0 50px;
}

.documentation-links {
    &:first-child {
        margin-right: 231px;
    }
    & .title {
        color: #fff;
        font-size: 15px;
        margin-bottom: 25px !important;
    }
    & a{
        font-size: 14px;
        color: #8E9CA1;
        transition: color .5s ease;
            &:hover {
                color: #fff;
            }
    }
    & li:not(:last-child) {
        margin-bottom: 15px;
    }

}

.footer-credits {
    padding-top: 25px;
        & p {
            color: #fff;
            font-size: 14px;
        }
}


